@model IEnumerable<LayMauTestNhanh>

@{
    var stt = 1;
}

@*<div class="card">
        <div class="card-header bg-info" style="padding-bottom: 0px; padding-top: 5px">
            <h5 class="card-title text-white">
                Danh sách
            </h5>
        </div>

    </div>*@
<table id="tblDanhSachDaLayMau" class="table display table-striped table-bordered table-responsive" style="width:100%; font-size: 13px; color: black">
    <thead>
        <tr>
            <th style="width: 5%">STT</th>
            <th style="width: 5%">Mã Y tế</th>
            <th style="width: 5%">Họ tên</th>
            <th style="width: 5%">Năm sinh</th>
            <th style="width: 5%">Giới tính</th>
            <th style="width: 5%">Điện thoại</th>

            <th style="width: 5%">Tên chỉ định</th>            
            <th>Code Xn</th>
            <th>Trạng thái</th>
            @*<th style="width: 5%">Id</th>*@
            @*<th style="width: 10%">Barcode</th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(m=>m.ThoiGian))
        {
            <tr>
                <td>@(stt++)</td>
                <td style="color: blue; font-weight: bold">@item.MaYTe</td>
                <td style="color: blue; font-weight: bold">@item.TenBenhNhan</td>
                <td style="color: blue; font-weight: bold">@item.NamSinh</td>
                <td>
                    @if(item.GioiTinh == "F")
                    {
                        <p>Nữ</p>
                    }
                    else
                    {
                        <p>Nam</p>
                    }
                </td>
                <td>@item.SoDienThoai</td>
                <td>@item.DichVu</td>
                <td>@item.CodeXn</td>
                <td>
                    <span class="btn btn-primary">
                            Đã lấy mẫu
                        </span>

                </td>
                
                @*<td>@item.Id</td>*@
            </tr>
        }
    </tbody>
</table>


@{
    <script>
        //function InsertKetQua(id, ketqua) {
        //    $.ajax({
        //        type: "GET",
        //        url: "/Home/InsertKetQua",
        //        //data: JSON.stringify(objArr),
        //        data: { 'id': id, 'ketqua': ketqua },
        //        //contentType: "application/json; charset=utf-8",
        //        dataType: "text",
        //        success: function (responses) {
        //            if (responses === 1 || responses === "1") {
        //                GetListLayMauTestNhanh();
        //            } else {
        //                swal.fire("Thêm dữ liệu bị lỗi");
        //            }
        //        },
        //        failure: function (response) {
        //            alert("failure: GetListLayMauTestNhanh" + response.responseText);
        //        },
        //        error: function (response) {
        //            alert("error: GetListLayMauTestNhanh" + response.responseText);
        //        }
        //    });
        //}


        $(document).ready(function () {
            $('#tblDanhSachDaLayMau').DataTable();
        });
    </script>
}